.container {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.type {
  width: 27%;
  animation: typing 2s steps(15), blink .6s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid;
  font-family: monospace;
  font-size: 2em;
}
@keyframes typing {
  from {
    width: 0
  }
}
@keyframes blink {
  50% {
    border-color: transparent
  }
}

body {
    margin:0;
    opacity: 0.5;
    background-image:  linear-gradient(#d9dbfa 1.1px, transparent 1.1px), linear-gradient(to right, #d9dbfa 1.1px, #f7f7f5 1.1px);
    background-size: 22px 22px;
    text-align: center;
}
