.container-fluid {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Typing Effect */
.type {
  width: 37%;
  animation: typing 2s steps(15), blink .6s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid;
  font-family: monospace;
  font-size: 25px;
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}

/* Background */
body {
  margin: 0;
  opacity: 0.8;
  background-image: linear-gradient(#dddff6 1.1px, transparent 1.1px), linear-gradient(to right, #dddff6 1.1px, #fdfceb 1.1px);
  background-size: 22px 22px;
  font-family: Andale Mono, monospace;
  text-align: center;
}

/* Navigation Bar  */
.navbar {
  padding-top: 2.5rem;
  padding-right: 2.5rem;
}

.nav-item {
  font-size: 1.8rem;
  padding: 0 12px;
}
